
@model BE_WebNovel.Models.User

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>TTV</title>

    <!-- css -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Slick Slider Syncing -->
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick-theme.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!-- end css -->
    @RenderSection("css", false)

</head>

<body>
    <section id="Header">
        <div class="container">
            <div class="row my-2">
                <div class="col-4 d-flex">
                    <a class="navbar-brand d-flex align-items-center Logo" href="~/Home/Index">
                        <img class="" src="https://ncomics.vercel.app/_nuxt/logo.83be12af.svg" alt="NComics">
                        <h3 class="">Refresh</h3>
                    </a>
                </div>
                <div class="col-lg-4 d-flex order-1 order-lg-0">
                    <form data-v-eb07a472="a123" class="d-flex align-items-stretch rounded-pill m-2 w-100 custom-form bg-white">
                        <input type="text" list="datalistOptions"
                               class="w-100 py-1 border-0 ps-3 rounded-pill flex-fill" placeholder="Search"
                               style="outline: none;">
                        <button type="submit" class="px-3 border-0 rounded-pill bg-body">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                        <!-- <datalist id="datalistOptions">
                            <option value="San Francisco">
                            <option value="New York">
                            <option value="Seattle">
                            <option value="Los Angeles">
                            <option value="Chicago">
                        </datalist> -->
                    </form>
                </div>
                <div class="col-8 col-lg-4 d-flex justify-content-end align-items-center">
                    @{
                        if (Session["user"] != null)
                        {
                            var user = (BE_WebNovel.Models.User)HttpContext.Current.Session["user"];
                            <a href="~/Admin/HomeAdmin/Index" class="account">
                                <i class="fa-solid fa-user"></i>
                                <span class="fw-bold">@user.username</span>
                            </a>
                            <a href="~/Account/LogOut" class="account">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        }
                        else
                        {
                            <a href="#" data-bs-target="#AccountModal" data-bs-toggle="modal" class="account">
                                <i class="fa-solid fa-user"></i>
                                <span class="fw-bold">Tài khoản</span>
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="row my-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="./index.html">
                            <i class="fa-solid fa-house"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown Category">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">
                            <i class="bi bi-tags-fill"></i>
                            Thể Loại
                        </a>
                        <ul class="dropdown-menu Dropdown-Menu text-center">
                            <div class="container">
                                <div class="row gx-0">
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="./BoLoc.html" class="Category-Link d-block w-100 h-100 py-2">Tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./BoLoc.html">
                            <i class="fa-solid fa-filter"></i>
                            <span>Bộ Lọc</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    @RenderBody()

    <section id="Footer">
        <div class="container p-5 my-5">
            <ul class="nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.facebook.com/ktrinh23">
                        <i class="fa-brands fa-facebook"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.facebook.com/ktrinh23">
                        <i class="fa-brands fa-square-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.facebook.com/ktrinh23">
                        <i class="fa-brands fa-discord"></i>
                        <span>Discord</span>
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <section id="Modal">
        <section>
            <!-- Login/Register -->
            <div class="modal fade" id="AccountModal" aria-hidden="true" aria-labelledby="AccountModalLabel"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="AccountModalLabel">Đăng Nhập</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="~/Account/Login" class="" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group mb-3">
                                    <label class="col-md-12 my-1 control-label" for="Email">Email<span id="LoginErrorMessage" class="text-danger ms-3 float-end"></span></label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="Email" type="email" name="InputEmail">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-md-12 my-1 control-label" for="Password">Password<span id="LoginErrorMessage" class="text-danger ms-3 float-end"></span></label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="Password" type="password" name="inputPassword">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="col-md-offset-2 col-md-12">
                                        <div class="checkbox">
                                            <input id="RememberMe" type="checkbox" value="1" name="RememberMe">
                                            <label for="RememberMe" style="cursor: pointer;">Remember me?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <span class="text-danger">@ViewBag.LoginErrorMessage</span>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Đăng Nhập" class="btn btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <span>Bạn chưa có tài khoản?<a href="" data-bs-target="#AccountModal2" data-bs-toggle="modal" id="Register"> Đăng ký tại đây</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="AccountModal2" aria-hidden="true"
                 aria-labelledby="AccountModalLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="AccountModalLabel2">Đăng ký</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="~/Account/Register" class="" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group mb-3">
                                    <label class="col-md-12 my-1 control-label" for="UserName">Họ Tên<span id="RegisterErrorMessage" class="text-danger ms-3 float-end"></span></label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="UserName" type="text" name="username">

                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-md-12 my-1 control-label" for="Email">Email<span id="RegisterErrorMessage" class="text-danger ms-3 float-end">@ViewBag.EmailerrorMessage</span></label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="Email" type="email" name="email">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-md-12 my-1 control-label" for="Password">Mật khẩu<span id="RegisterErrorMessage" class="text-danger ms-3 float-end RegisterPassErrorMessage"></span></label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="Password" type="password" name="password">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-md-12 my-1 control-label" for="Re-Password">Nhập lại mật khẩu<span id="RegisterErrorMessage" class="text-danger ms-3 float-end RegisterRePassErrorMessage"></span></label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="Re-Password" type="password" name="rePass">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Đăng ký" class="btn btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-bs-target="#AccountModal" data-bs-toggle="modal">Quay lại trang đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <button class="btn btn-primary" data-bs-target="#AccountModal" data-bs-toggle="modal">Open first modal</button> -->
        </section>


        <section>
            <!-- Mess success -->
            <button type="button" class="btn btn-primary" hidden id="liveToastBtn">ShowMessage</button>

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast bg-white" role="alert" aria-live="assertive" aria-atomic="true" style="border: solid 2px @ViewBag.Color">
                    <div class="toast-header">
                        <strong class="me-auto" style="color: @ViewBag.Color">Thông báo</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        @ViewBag.ToastContent
                    </div>
                </div>
            </div>
        </section>

    </section>


    <!-- js -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/ckeditor/ckeditor.js"></script>
    <script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/app.js"></script>
    @RenderSection("script", false)

    <!-- js Toast-->
    <script>
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastTrigger.addEventListener('click', () => {
                toastBootstrap.show()
            })
        }
    </script>

    <!-- js login error -->
    @if (ViewBag.loginError == true)
    {
        <script>
            document.getElementById("liveToastBtn").click();
            document.querySelector('#Header .account').click();
        </script>
    }
    else
    {
        <script>
            document.getElementById("liveToastBtn").click();
        </script>
    }

    <!-- js login form -->
    <script>
        var InputsLogin = document.querySelectorAll('#AccountModal .form-group');
        InputsLogin.forEach(element => {
            element.querySelector('input.form-control').addEventListener('blur', function () {
                if (!element.querySelector('input.form-control').value) {
                    element.querySelector('#LoginErrorMessage').textContent = "Vui lòng nhập trường này";
                }
            })
            element.querySelector('input.form-control').addEventListener('input', function () {
                element.querySelector('#LoginErrorMessage').textContent = "";
            })
        })
    </script>

    <!-- js register form -->
    <script>
        var password = document.querySelector('#AccountModal2 .form-group input#Password');
        var rePassword = document.querySelector('#AccountModal2 .form-group input#Re-Password');
        var InputsRegister = document.querySelectorAll('#AccountModal2 .form-group');
        InputsRegister.forEach(element => {
            element.querySelector('input.form-control').addEventListener('blur', function () {
                if (!element.querySelector('input.form-control').value) {
                    element.querySelector('#RegisterErrorMessage').textContent = "Vui lòng nhập trường này";
                }
            })
            element.querySelector('input.form-control').addEventListener('input', function () {
                if (this == rePassword || this == password) {
                    if (password.value != rePassword.value) {
                        element.querySelector('#RegisterErrorMessage').textContent = "Mật khẩu xác nhận không chính xác";
                    } else {
                        document.querySelector('.form-group .RegisterPassErrorMessage').textContent = "";
                        document.querySelector('.form-group .RegisterRePassErrorMessage').textContent = "";
                    }
                } else {
                    element.querySelector('#RegisterErrorMessage').textContent = "";
                }
            })
        })
    </script>

    <!-- js register error -->
    @if (ViewBag.registerError == true)
    {
        <script>
            document.querySelector('#Register').click();
        </script>
    }

</body>

</html>