

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.currtentUser - @ViewBag.Title</title>

    <!-- css -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Areas/Admin/Content/css/pagination.css" rel="stylesheet" />
    @RenderSection("css", false)
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <script src="~/Content/assets/ckeditor/ckeditor.js"></script>
</head>
<body>

    <section id="Header" class="" style="box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.3);">
        <div class="container">
            <div class="row my-2">
                <div class="col-4 d-flex">
                    <a class="navbar-brand d-flex align-items-center Logo" href="~/Home/Index">
                        <img class="" src="https://ncomics.vercel.app/_nuxt/logo.83be12af.svg" alt="NComics">
                        <h3 class="">Refresh</h3>
                    </a>
                </div>
                <div class="col-lg-4 d-flex order-1 order-lg-0">
                    <form data-v-eb07a472="a123" class="d-flex align-items-stretch rounded-pill m-2 w-100 custom-form bg-white">
                        <input type="text" list="datalistOptions"
                               class="w-100 py-1 border-0 ps-3 rounded-pill flex-fill" placeholder="Search"
                               style="outline: none;">
                        <button type="submit" class="px-3 border-0 rounded-pill bg-body">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                        <datalist id="datalistOptions">
                            <option value="San Francisco">
                            <option value="New York">
                            <option value="Seattle">
                            <option value="Los Angeles">
                            <option value="Chicago">
                        </datalist>
                    </form>
                </div>
                <div class="col-8 col-lg-4 d-flex justify-content-end align-items-center">
                    @{
                        if (Session["user"] != null)
                        {
                            var user = (BE_WebNovel.Models.User)HttpContext.Current.Session["user"];
                            <a href="~/Admin/HomeAdmin/Index/@user.user_id" class="account">
                                <i class="fa-solid fa-user"></i>
                                <span class="fw-bold">@user.username</span>
                            </a>
                            <a href="~/Account/LogOut" class="account">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        }
                        else
                        {
                            <a href="#" data-bs-target="#AccountModal" data-bs-toggle="modal" class="account">
                                <i class="fa-solid fa-user"></i>
                                <span class="fw-bold">Tài khoản</span>
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="row my-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./index.html">
                            <i class="fa-solid fa-house"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown Category">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">
                            <i class="bi bi-tags-fill"></i>
                            Thể Loại
                        </a>
                        <ul class="dropdown-menu Dropdown-Menu text-center">
                            <div class="container">
                                <div class="row gx-0">
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Trọng Sinh</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Huyền Huyễn</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tiên Hiệp</a>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="Category-Link d-block w-100 h-100 py-2">Tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./BoLoc.html">
                            <i class="fa-solid fa-filter"></i>
                            <span>Bộ Lọc</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="Navigation">
        <input type="checkbox" hidden id="Bar">
        <label for="Bar" class="cursorPointer fixed-top p-3" style="width: 50px;"><i class="fa-solid fa-bars-progress">Home</i></label>
    </section>

    <script>
        // js header
        var chkBar = document.querySelector('#Navigation #Bar');
        var labelChekBar = document.querySelector('#Navigation label');
        var header = document.querySelector('#Header');
        chkBar.addEventListener('change', function () {
            if (this.checked) {
                header.classList.add('bg-white')
                header.style.top = '0';
            } else {
                header.style.top = '-100%';
            }
        })

        document.addEventListener('click', function (event) {
            if (!header.contains(event.target) && !chkBar.contains(event.target) && !labelChekBar.contains(event.target)) {
                header.style.top = '-100%';
                chkBar.checked = false;
            }
        });

        var Links = document.querySelectorAll('#Header a');
        Links.forEach(link => {
            link.addEventListener('click', function () {
                chkBar.checked = false;
            });
        });


    </script>

    <section id="Main" class="my-5">
        <div class="container">
            <div class="row g-1">
                <div class="col-lg-3 SideBar position-relative">
                    <div class="cursorPointer d-lg-none d-block barBtn">
                        <input type="checkbox" hidden id="checkNavBar">
                        <label for="checkNavBar" class="p-2 checkNavBarLabel">
                            <i class="fa-solid fa-bars">Action</i>
                        </label>
                    </div>
                    <ul class="nav flex-column d-none d-lg-block Navigation w-100">
                        <li class="nav-item">
                            <a href="~/Admin/HomeAdmin/Index" class="nav-link"><i class="fa-solid fa-user"></i> Cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/PushNovel/Index" class="nav-link"><i class="fa-solid fa-upload"></i> Đăng truyện</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/CreatedNovel/Index" class="nav-link"><i class="fa-solid fa-book-journal-whills"></i> Truyện đã đăng</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/ManagerNovel/Index" class="nav-link"><i class="fa-solid fa-swatchbook"></i> Quản lý truyện</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/ManagerUser/Index" class="nav-link"><i class="fa-solid fa-people-roof"></i> Quản lý người dùng</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/ManagerCategory/Index" class="nav-link"><i class="fa-solid fa-earth-americas"></i> Quản lý thể loại</a>
                        </li>
                    </ul>
                </div>
                <script>
                    // js navbar
                    var checkNavBar = document.querySelector('#Main .barBtn #checkNavBar');
                    var labelcheckbox = document.querySelector('#Main .barBtn .checkNavBarLabel');
                    var nav = document.querySelector('#Main .Navigation');
                    checkNavBar.addEventListener('change', function () {
                        if (checkNavBar.checked) {
                            nav.classList.remove('d-none');
                            nav.classList.add('position-absolute');
                            nav.style = 'z-index: 1; background-color: #fff; border: solid 1px var(--primaty-color); box-shadow: 0 0 4px var(--primaty-color);'
                        } else {
                            nav.classList.add('d-none');
                            nav.classList.remove('position-absolute');
                            nav.removeAttribute('style');
                        }
                    })
                    document.addEventListener('click', function (event) {
                        if (!checkNavBar.contains(event.target) && !labelcheckbox.contains(event.target) && !nav.contains(event.target)) {
                            checkNavBar.checked = false;
                            nav.classList.add('d-none');
                            nav.classList.remove('position-absolute');
                            nav.removeAttribute('style');
                        }
                    })
                </script>
                @RenderBody()
            </div>
        </div>
    </section>

    <section id="Footer">
        <div class="container p-5 my-5">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/ktrinh23/">
                        <i class="fa-brands fa-facebook"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/ktrinh23/">
                        <i class="fa-brands fa-square-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/ktrinh23/">
                        <i class="fa-brands fa-discord"></i>
                        <span>Discord</span>
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <section id="Modal">

        <section>
            <!-- Mess success -->
            <button type="button" class="btn btn-primary" hidden id="liveToastBtn">ShowMessage</button>

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast bg-white" role="alert" aria-live="assertive" aria-atomic="true" style="border: solid 2px @ViewBag.Color;">
                    <div class="toast-header">
                        <strong class="me-auto" style="color: @ViewBag.Color">Thông báo</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        @ViewBag.ToastContent
                    </div>
                </div>
            </div>
        </section>

        @RenderSection("modal", false)
    </section>

    <!-- js -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/ckeditor/ckeditor.js"></script>
    <script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/pagination.js"></script>
    <script src="~/Content/assets/js/app.js"></script>
    @RenderSection("script", false)

    <!-- js Toast-->
    <script>
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastTrigger.addEventListener('click', () => {
                toastBootstrap.show()
            })
        }
    </script>

    <!-- Active Toast-->
    @if (ViewBag.isError != null)
        {
            <script>
                document.getElementById("liveToastBtn").click();
            </script>
        }
    
</body>
</html>
